<%= render :partial => "shop/menu" %>
<h2>Товары :</h2>
<ul id="treelist">
<% @categories.each do |category| %>
	<li style="margin-left: <%= category.level%>em">
    <%= link_to category.name, shop_category_products_path(category), :method => :get%> 
    (<%= category.products.count%>)
  </li>
<% end %>
</ul>

