* {
padding : 0;
margin : 0;
}

body {
 background : #fafafa;
 font-family : Tahoma, Verdana, Arial, sans-serif;
 font-size : 8pt;
 color : #585858;
}

.rs { float: right; margin: 0 10px; border: 1px solid #ddd; padding: 5px; background: #f5f5f5  }
.submit ul { list-style-position: inside; margin-left: 2px }
.submit ul li { list-style-type: square; margin-left: 15px;  }
.submit ul ul li { list-style: none; margin-left: 10px; list-style-type: lower-alpha; list-style-position: inside }

input, textarea {
border : 1px solid #aaa;
}
input:hover, textarea:hover {
border : 1px solid #888;
}
img {
border : 0;
float : left;
margin-right : 10px;
}
a {
color : #36be00;
text-decoration : none;
background : #fff;
}
a:hover {
text-decoration : underline;
}
blockquote {
margin : 0 0 15px 30px;
border-left : 3px solid #8adf88;
padding : 0 0 0 8px;
}
input, textarea {
border : 1px solid #aaa;
}
input:hover, textarea:hover {
border : 1px solid #888;
}
input.text {
color : #000000;
border : 1px solid #e6e6e6;
background : inherit;
}
textarea.text {
font-size : 8pt;
border : 1px solid #e6e6e6;
}
input.text:hover, textarea.text:hover {
border : 1px solid #d6d6d6;
}
form {
display : inline;
margin : 0;
padding : 0;
}
.date {
color : #aaa;
font-weight : bold;
background : transparent;
}
.green {
color : #36be00;
}
.bigl {
font-size : 1.2em;
}
.bold {
font-weight : bold;
}
#header h1 {
background : #fafafa;
font-family : "Tahoma", Verdana, Arial, sans-serif;
font-size : 3em;
color : #585858;
font-weight : normal;
padding : 0;
margin : 0;
}
#content {
padding : 0;
margin : 15px auto;
width : 780px;
background : #fafafa;
}
#header {
margin : 0;
padding : 0;
width : 100%;
background : inherit;
color : #585858;
height : 66px;
}
#header .slogan {
color : #868686;
margin : 0;
padding : 0;
background : #fafafa;
font : bold 1em "Tahoma", Verdana, Arial, sans-serif;
padding-left : 2px;
}
#header .topong {
background : #fafafa url(../assets/topaff.jpeg) no-repeat bottom;
height : 66px;
width : 159px;
float : right;
}
#header .topong .pad {
padding : 25px 5px 0 20px;
}
#header .topong .txt {
padding : 0;
color : #a5a5a5;
}
#header h4 {
font : bold 1em "Tahoma", verdana, Arial;
}
#header h4 a {
color : #585858;
}
#header h4 a:hover {
text-decoration : none;
}
#menu {
margin : 0 0;
padding : 0;
background : #4b7da7 url(../assets/menubg.gif) repeat-x top;
color : #fff;
width : 100%;
height : 40px;
}
#menu .pad {
padding-top : 12px;
}
#menu a, #menu a:visited {
color : #fff;
text-decoration : none;
background : inherit;
}
#menu .submit {
vertical-align : bottom;
}
#menu .submit ul {
margin : 0;
padding : 0 10px 0 0;
list-style : none;
}
#menu .submit li {
display : inline;
margin : 0;
padding : 0;
}
#menu .submit a {
float : left;
background : transparent;
margin : 0;
padding : 0 0 0 0;
text-decoration : none;
}
#menu .submit a span {
float : left;
background : url(../assets/menusep.gif) no-repeat left;
color : #fff;
font-weight : bold;
display : block;
padding : 0 15px 0 15px;
margin-right : 2px;
}
#menu .submit a span {
float : none;
}
#menu #search {
float : right;
background : inherit;
margin-top : 0;
padding : 0;
margin-right : 10px;
margin-top : -4px;
}
#menu #search input.text {
background : url(../assets/input.gif) no-repeat top;
width : 110px;
border : 0;
padding : 2px 0 0 3px;
}
#menu #search input.txt {
color : #fff;
font-weight : bold;
border : 0;
background : transparent;
cursor : pointer;
}
#module_large {
margin-top : 10px;
height : 220px;
}
#module_large .padding {
padding : 13px 20px 10px 20px;
}
#module_large img {
border : 1px solid #d3d3d3;
float : left;
margin-bottom : 15px !important;
margin-bottom : 5px;
}
#module_large .price {
color : #36be00;
font : bold 1.7em "Tahoma", verdana, Arial;
padding : 15px 25px 0 0;
float : right;
text-align : right;
}
#module_large .only {
color : #e5e5e5;
font : bold 0.6em "Tahoma", verdana, Arial;
}
#modules {
margin-top : 10px;
height : 190px;
}
#modules #mod3 {
background : #fafafa url(../assets/topgreybox.jpeg) no-repeat top;
height : 185px;
width : 258px;
float : right;
margin-top : 5px;
}
#modules #mod2 {
background : #fafafa url(../assets/topgreybox.jpeg) no-repeat top;
height : 185px;
width : 258px;
float : right;
margin-right : 3px;
margin-top : 5px;
}
#modules #mod1 {
background : #fafafa url(../assets/topgreybox.jpeg) no-repeat top;
height : 185px;
width : 258px;
float : left;
margin-top : 5px;
}
#modules .padding {
padding : 13px 20px 10px 20px;
}
#modules img {
border : 1px solid #d3d3d3;
float : left;
margin-bottom : 15px !important;
margin-bottom : 5px;
}
#modules .price {
color : #36be00;
font : bold 1.7em "Tahoma", verdana, Arial;
padding : 15px 25px 0 0;
float : right;
text-align : right;
}
#modules .only {
color : #e5e5e5;
font : bold 0.4em "Tahoma", verdana, Arial;
}
#modules .text {
width : 100%;
float : left;
color : #9f9f9f;
text-align : justify;
}
#modules h2 {
font : bold 1.2em "Tahoma", verdana, Arial;
color : #618fb5;
background : transparent;
margin-bottom : 4px;
}
#modules h2 a {
color : #618fb5;
background : transparent;
}
#modules h2 a:hover {
text-decoration : none;
color : #719fc5;
}
#maincontent {
background : #fafafa;
}
#maincontent #graph {
margin-top : 15px;
background : #fafafa url(../assets/statgraph2.jpeg) no-repeat left;
width : 203px;
height : 156px;
float : left;
}
#maincontent p {
margin-top : 10px;
}
#maincontent img {
float : left;
margin : 10px 10px 10px 0;
}
#maincontent .readm {
color : #36be00;
font-weight : bold;
background : inherit;
}
#maincontent h2 {
font : bold 1.6em "Tahoma", verdana, Arial;
color : #585858;
background : transparent;
margin-bottom : 4px;
border-bottom : 1px solid #e3eaef;
}
#maincontent #introduction {
margin: 25px 0 40px 0;
width : 100%;
background : inherit;
text-align : justify;
color : #8e8e8e;
}
#maincontent #rightside {
float : right;
width : 220px;
background : #f0f0f0;
padding : 10px;
margin : 0 0 10px 0;
}
#maincontent #rightside h2 {
margin-bottom : 5px;
}
#maincontent #leftside {
background : inherit;
margin-right : 10px;
width : 530px;
}
#maincontent #leftside .r {
float : right;
width : 250px;
text-align : justify;
margin-bottom : 15px;
}
#maincontent #leftside .le {
width : 250px;
text-align : justify;
margin-bottom : 15px;
}
#maincontent #leftside .pad {
padding : 15px 0 15px 0;
text-align : justify;
}
#footer {
bottom : 0;
clear : both;
text-align : left;
border-top : 2px solid #e5e5e5;
padding : 3px 0 0 0;
margin-top : 5px;
height : 50px;
color : #888;
background : inherit;
}
#footer .right {
float : right;
}
#user_nav{
text-align : right;
}
.breadcrumb{
margin-bottom: 10px;
}
#treelist li{
	list-style: none;	
	border : 1px solid #888;
	padding: 2px;
	margin-top :2px;	
}
.borderedlist li {
list-style: none;
border : 1px solid #888;
padding: 2px;
margin-top :2px;
}
#props ul li{
list-style: none;
border : 1px solid #888;
padding: 2px;
margin-top :2px;
}
#props ul li input.position{
width : 30px;
}
.product_props li{
list-style: none;
margin-top :2px;
}
.controlpanel_menu {
font : bold 1.2em "Tahoma", verdana, Arial;
margin-top: 5px;
margin-bottom: 10px;
background-color:#b0c4de;
}
.row_menu {
text-align: right;
}
.row_caption {
	float: left;
}
.bottom_link{
	margin-top : 10px;
	font : bold 1em "Tahoma", verdana, Arial;	
	margin-bottom : 5px;
}
